<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Joan Azpetita" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-[#0c0c0c]">
    <main class="w-[90%] mx-auto mt-10 px-5 flex">
      <%= yield %>
    </main>
  </body>
  <footer class="flex flex-col items-center bg-[#1f1f1f] mt-8">
    <div class="flex flex-row text-center mt-20 mb-6">
      <a href="https://www.linkedin.com/in/joan-azpeitia-28517757/" class="footer-link" style="font-family: 'Futura Cyrillic Heavy', sans-serif;" target="_blank">Linkedin</a>
      <a href="https://www.imdb.com/name/nm6219186/" class="footer-link" style="font-family: 'Futura Cyrillic Heavy', sans-serif;" target="_blank">IMBD</a>
    </div>
    <p class="email-text">joanazpeitia@gmail.com</p>
    <p class="copyright-text" style="font-family: 'Futura Cyrillic Heavy', sans-serif;">&copy; 2025 Joan Azpeitia. All rights reserved.</p>
  </footer>
</html>
